
/* wii shop type button made by ChrisplayzYT/BLOX.
 smalltext,mediumtext,largetext, were made by me peeking at the wii shop css,
  its just font sizes!1!1 i didnt steal!!! 
 */
 button {
  /* change to your own cursor, or just remove :) */
  cursor: url("wiicursor.png"), default;
  text-align: center;
  padding: 3px 5px;
transition:0s;
/* don te edit cuz this make the buttons w i i s h o p p y */
  border-radius: 5px;
  border: 1.3px solid #34beed;
  background-color:#f6fdff;
  filter: drop-shadow(1px 1px 3.4px #c5c5c5);
  box-shadow:inset 1px 1px 12px #54545415;
  font-size:18px;
}

button:hover {
      /* change to your own cursor when hovering over sum, or just remove :) */
  cursor: url("wiicursor.png"), pointer;
  transition:0s;
/* don te edit cuz this make the buttons w i i s h o p p y */
  border:2px solid #34beed;
  outline:1.5px solid #34bEED;
}
/*forthese, add class="BTN___text" to your button */
.BTNsmalltext {
  font-size: 14px;
}
.BTNmediumtext {
  font-weight:normal;
  font-size: 18px;
}
.BTNlargetext {
  font-weight:normal;
  font-size: 22px;
}
/* wii shop type button made by ChrisplayzYT/BLOX.
smalltext,mediumtext,largetext, were made by me peeking at the wii shop css,
its just font sizes!1!1 i didnt steal!!! 
*/
